# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
#fos_rest:
#    param_fetcher_listener:  true
#    allowed_methods_listener:  true
#    routing_loader: true
#    view:
#        view_response_listener:  true
#    exception:
#        codes:
#            App\Exception\MyException: 403
#        messages:
#            App\Exception\MyException: Forbidden area.
#    format_listener:
#        rules:
#            - { path: ^/api, prefer_extension: true, fallback_format: json, priorities: [ json, html ] }

fos_rest:
  param_fetcher_listener: true
  view:
    empty_content: 200
    failed_validation: HTTP_BAD_REQUEST
    view_response_listener: 'force'
    formats:
      json: true
      xml: false
  body_listener:
    decoders:
      json: fos_rest.decoder.json
  format_listener:
    rules:
      - { path: '/api', priorities: [ 'json' ], fallback_format: json, prefer_extension: false }
      - { path: '^/', stop: true, fallback_format: html }
  exception:
    enabled: true
  serializer:
    serialize_null: true

